{% extends from 'basic_app/basic_app/base.html' %}
{% block body_block %}
<div class="jumbotron">
  <h1>Welcome to the school details page</h1>
  <h2>School detail:</h2>
  <p>Name : {{school_detail.name}}</p>
  <p>principal:{{school_detail.principal}} </p>
  <p>location: {{school_detail.location}}</p>
  <h3>Students:</h3>

  {% for student in school_detail.students.all %}
  <p>{{student.name}} who is {{student.age}} years old. </p>
  {% endfor %}



</div>
<div class="container">
  <p><a class = 'btn btn-black'href="{% url 'basic_app:update' pk = school_detail.pk %}">update</a></p>

</div>
