<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UserAttributeSimilarityValidator</title>
  </head>
  <body>
    <h1>Here are your users for APPTwo:</h1>
    {% if users %}

    <ol>
      {% for person in users %}
      <li>USER INFO</li>
      <ul>
        <li>first Name: {{ person.first_name}}</li>
        <li>last Name: {{ person.last_name }}</li>
        <li>Email: {{ person.email }}</li>
      </ul>
      {% endfor %}
    </ol>

    {% endif %}
  </body>
</html>
